<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>上传下载</title>
</head>
<body>
   <div>
     <div><span>风景图</span></div>
     <div><img width="1000" height="500"  th:src="${#httpServletRequest.getContextPath()}+'/img/timg.jpg'" alt="风景 图" /></div>
   </div>
   
   <div>
   <form action="@{/fileOperate/upload.htm}" method="post" enctype="multipart/form-data">  
     <input type="file" name="file" /> <input type="submit" value="Submit" />
   </form> </div>
</body>
</html>